.S41 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #933300; FONT-FAMILY: 'Verdana'
}
.S40 {
	FONT-SIZE: 12pt; COLOR: #933300; FONT-FAMILY: 'Verdana'
}
.S39 {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.S38 {
	FONT-SIZE: 12pt; FONT-FAMILY: ''
}
.S37 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.S36 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #ff6600; FONT-STYLE: italic; FONT-FAMILY: 'Times New Roman'
}
.S35 {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.S34 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.S33 {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.S32 {
	FONT-SIZE: 8pt; COLOR: #933300; FONT-FAMILY: 'Verdana'
}
.S31 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; BACKGROUND: #ffffcc; COLOR: #000000; FONT-FAMILY: 'Times New Roman'
}
.S30 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.S29 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffcc; FONT-FAMILY: 'Verdana'
}
.S28 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #933300; COLOR: #005458; FONT-FAMILY: 'Verdana'
}
.S27 {
	FONT-SIZE: 8pt; COLOR: #004040; FONT-FAMILY: 'Verdana'
}
.S26 {
	FONT-SIZE: 8pt; BACKGROUND: #ffffcc; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.S25 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #ffffff; COLOR: #005457; FONT-FAMILY: 'Verdana'
}
.S24 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #ffffff; COLOR: #004040; FONT-FAMILY: 'Verdana'
}
.S23 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #ffffcc; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.S22 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #ff6600; FONT-FAMILY: 'Times New Roman'
}
.S21 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #ff6600; FONT-STYLE: italic; FONT-FAMILY: 'Times New Roman'
}
.S20 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; BACKGROUND: #ffffff; COLOR: #ff6600; FONT-STYLE: italic; FONT-FAMILY: 'Times New Roman'
}
.S19 {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: 'Verdana'
}
.S18 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #933300; COLOR: #ffffcc; FONT-FAMILY: 'Verdana'
}
.S17 {
	FONT-SIZE: 8pt; BACKGROUND: #933300; COLOR: #ffffcc; FONT-FAMILY: 'Verdana'
}
.S16 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #933300; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.S15 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #933300; FONT-FAMILY: 'Verdana'
}
.S14 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ff0000; FONT-FAMILY: 'Verdana'
}
.S13 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; BACKGROUND: #ffffff; COLOR: #933300; FONT-FAMILY: 'Verdana'
}
.S12 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: 'Verdana'
}
.S11 {
	FONT-SIZE: 8pt; BACKGROUND: #99cccc; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.S10 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #ffffff; COLOR: #ff0000; FONT-FAMILY: 'Verdana'
}
.S9 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: 'Times New Roman'
}
.S8 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: 'MS Sans Serif'
}
.S7 {
	FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: 'Times New Roman'
}
.S6 {
	FONT-SIZE: 8pt; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.S5 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #933300; FONT-FAMILY: 'Verdana'
}
.S4 {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: 'Verdana'
}
.S3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #933300; COLOR: #ffffcc; FONT-FAMILY: 'Verdana'
}
.S2 {
	FONT-SIZE: 12pt; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: 'Times New Roman'
}
.S1 {
	FONT-SIZE: 12pt
}
A:hover {
	COLOR: #ff6600
}
