body        {
	color : #000000;
	font-style: normal;
	font-variant: normal;
	font-family: verdana, helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;

	

}


table    {
	color : #000000;
	font-style: normal;
	font-variant: normal;
	font-family: verdana, helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;

}




.pNormal        {
	color : #000000;
	font-style: normal;
	font-variant: normal;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
}
.selectedNav {        font-family: verdana, arial, helvetica, sans-serif;        color: #0000ff;        font-weight: bold;        font-size: 11px;        }
.normalNav {        font-family: verdana, arial, helvetica, sans-serif;        color : #000055;        font-weight: normal;        font-size: 11px;        }
.newsDate {     color : #999999;        font-family: verdana, arial, helvetica, sans-serif;        font-size: 10px;        font-weight: normal;        }
.justify {      color : #666666;        font-family: verdana, arial, helvetica, sans-serif;        text-align:justify;        font-size:10px;        }
.lbfooter {     color : #666666;        font-family: verdana, arial, helvetica, sans-serif;        text-align: center;        font-size: 10px;        }

form            {
	margin-right : 0px;
	font-style: normal;
	font-variant: normal;
	color : black;
	font-family : verdana, helvetica, arial, sans-serif;
	font-size : 11px;
}


strong  {
font-weight : bold;
margin-right : 0px;
font-style: normal;
font-variant: normal;
color : black;
font-family : verdana, helvetica, arial, sans-serif;
font-size : 11px;
}


.titlered {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
}
.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}
.textbold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.borderred {
	border: 1px solid #FF0000;
}


.TITLE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.TEXTU {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}


ul      {       font-family : verdana, arial, helvetica, sans-serif;    font-size : 11px;       font-weight :  normal;  list-style-type :  square;      }
li              {       font-family : verdana, arial, helvetica, sans-serif;    font-size: 11px;        list-style-type :  square;      }
ol              {       margin-right : 25px;    color : black;  font-family : verdana, arial, helvetica, sans-serif;    font-size : 12px;       font-weight :  normal;  margin-left :  0px;     list-style-type :  square;      }
news_archiv     {       color : #990000;        font-family : verdana, arial, helvetica, sans-serif;    font-size : 24px;       letter-spacing : 1px;   text-decoration : none; }



a:link  {
color : #000099;
font-family : verdana, arial, helvetica, sans-serif;
text-decoration : none;
font-weight: bold; 
font-size: 9px;

}
a:visited       {
color : #000099;
font-family : verdana, arial, helvetica, sans-serif;
text-decoration : none;
font-weight: bold; 
font-size: 9px;
}

a:hover {
color : #990000;
font-family : verdana, arial, helvetica, sans-serif;
text-decoration : none;
font-weight: bold; 
font-size: 9px;

}

a:active {
font-family : verdana, arial, helvetica, sans-serif;
text-decoration : none;
font-weight: bold; 
font-size: 9px;

}

a.nuevo:link  {
color : #cc0000;
text-decoration :none;
}

a.nuevo:visited       {
color : #cc0000;
text-decoration :none;
}

a.nuevo:hover       {
color : #999999;
text-decoration :none;
}



input{
	background-color:#FFFFCC;
	margin:0pt;
	font-size: 11px;
	border:1pt solid;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}


.ingreso{
	background-color:#CCCCCC;
	margin:0pt;
	font-size: 11px;
	border:1pt solid;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

textarea{
background-color:#EDEDED;
margin:0pt;
font-size: 12px;
border:1pt solid;
}

select{
	background-color:#FFFFCC;
	margin:0pt;
	font-size: 12px;
	border:solid 1pt #000000;
	font-weight: bold;
}

.letra_chica{
color : #666666;
font-style: normal;
font-variant: normal;
font-family: verdana, verdana, helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
text-align:justify;
}
.titletable {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	font-family: Calibri;
	background-color: #FFCC00;
}
.titledatos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align: left;
	background-color: #FFFF99;
	border: 0.2mm solid #000000;
	text-indent: 1mm;
}
.tablabase {
	background-color: #EEEEEE;
	border: 0.2mm solid #666666;
	
}
.boton1 {
	background-image: url(../img/nuevo.gif);
}
.tablaframe {
	border: 0.3mm solid #666666;
}
.tablalistado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3.1mm;
	font-weight: bold;
	background-color:#FFFFFF;
	
}

.tablalistado_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.5mm;
	font-weight: bold;
}

.tablamuestra {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3.1mm;
	font-weight: bold;
	border: 0.2mm solid #666666;
	background-color:#EBFDEA;
}
.tablaprincipal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3mm;
	font-weight: bold;
	background-color: #FFCC00;
}

.tablaprincipal_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.6mm;
	font-weight: bold;
	background-color: #FF9933;
}
.usuarios {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-transform: lowercase;
}
.numeros {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-align: right;
}

#imgLOAD {
  position: absolute;
  top: calc(50% - 99px);
  left: calc(45% - 66px);
   margin: -50px 0 0 -100px;
  z-index: 1000;
  border:groove;
  background-color:#FFF;
}

.error{
    background-color: #BC1010;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}

 .select.form-control {
     height: 3.5rem; 
}
